
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

a{
  text-decoration: none !important;
}
 .emailComponent{
  border: 2px solid #e1e6ef;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 10px #cbd6e9;
 }